include layout/utils
-
    var list = [
        {
            title: 'Перевозка машины класса “Люкс”из Европы',
            type: 'Объект',
            text: '',
            cityFrom: 'Казань',
            cityTo: 'Астана',
            icon: ''
        },{
            title: 'Доставка негабаритного оборудования из Китая и нужно дописать на две строчки',
            type: 'Услуга',
            text: '',
            cityFrom: 'Казань',
            cityTo: 'Астана',
            icon: ''
        },{
            title: 'Перевозка машины класса “Люкс”из Европы',
            type: 'Услуга',
            text: '',
            cityFrom: 'Казань',
            cityTo: 'Астана',
            icon: ''
        },{
            title: 'Доставка негабаритного оборудования из Китая и нужно дописать на две строчки',
            type: 'Объект',
            text: '',
            cityFrom: 'Казань',
            cityTo: 'Астана',
            icon: ''
        },{
            title: 'Перевозка машины класса “Люкс”из Европы',
            type: 'Услуга',
            text: '',
            cityFrom: 'Казань',
            cityTo: 'Астана',
            icon: ''
        },{
            title: 'Доставка негабаритного оборудования из Китая и нужно дописать на две строчки',
            type: 'Объект',
            text: '',
            cityFrom: 'Казань',
            cityTo: 'Астана',
            icon: ''
        },{
            title: 'Перевозка машины класса “Люкс”из Европы',
            type: 'Услуга',
            text: '',
            cityFrom: 'Казань',
            cityTo: 'Астана',
            icon: ''
        },{
            title: 'Доставка негабаритного оборудования из Китая и нужно дописать на две строчки',
            type: 'Объект',
            text: '',
            cityFrom: 'Казань',
            cityTo: 'Астана',
            icon: ''
        },
    ]

.cases
    .container
        ul.cases__list
            each item, index in list
                li.cases__item(data-item=`${index+1}`)
                    +anchor
                        .cases__item-number= `0${index + 1}`
                        .cases__item-title= item.title
                            .cases__item-type= item.type
                    .cases__item-arrow
                    .cases__item-content(data-content=`${index + 1}`)
                        .cases__item-image-wrapper
                            .cases__item-from= item.cityFrom
                            +img(require('assets/icons/cases-path.svg')).cases__item-image
                            .cases__item-to= item.cityTo
                        .cases__item-text= item.text || 'Медицинские товары'
                            +img(item.icon || require('assets/icons/med.svg')).cases__item-icon
    +anchor.simple-button.cases__button Cмотреть все
        .cases__button-icon.icon
