include layout/utils
include ui/selector/selector
include ui/card/card

mixin slider(props)
    -
        props = Object.assign({
            type: 'clients' || 'media' || 'gallery',
            title: 'Наши клиенты',
            text: 'Доверия клиентов вдохновляет нас становиться лучше и находить решения  для самых сложных задач',
            clientsList: [
                {
                icon: require('assets/icons/clients/1.svg'),
                name: 'Калашников Концерн'
                },{
                icon: require('assets/icons/clients/2.svg'),
                name: 'Эльбрус'
                },{
                icon: require('assets/icons/clients/3.svg'),
                name: 'Газпром'
                },{
                icon: require('assets/icons/clients/2.svg'),
                name: 'Эльбрус'
                },{
                icon: require('assets/icons/clients/3.svg'),
                name: 'Газпром'
                },{
                icon: require('assets/icons/clients/1.svg'),
                name: 'Эльбрус'
                },

            ],
            mediaList: [
                {
                    image: require('assets/content/main-hero/2.jpg'),
                    title: 'Доставка негабаритного оборудования из Китая и нужно дописать на две строчки',
                    tag: 'Новости',
                    date: '02.06.2025'
                },{
                    image: require('assets/content/main-hero/2.jpg'),
                    title: 'Доставка негабаритного оборудования из Китая и нужно дописать на две строчки',
                    tag: 'Блог',
                    date: '10.06.2025'
                },{
                    image: require('assets/content/main-hero/2.jpg'),
                    title: 'Доставка негабаритного оборудования из Китая и нужно дописать на две строчки',
                    tag: 'Новости',
                    date: '02.12.2025'
                },{
                    image: require('assets/content/main-hero/2.jpg'),
                    title: 'Доставка негабаритного оборудования из Китая и нужно дописать на две строчки',
                    tag: 'Блог',
                    date: '02.06.2003'
                },{
                    image: require('assets/content/main-hero/2.jpg'),
                    title: 'Доставка негабаритного оборудования из Китая и нужно дописать на две строчки',
                    tag: 'Блог',
                    date: '02.06.2025'
                },{
                    image: require('assets/content/main-hero/2.jpg'),
                    title: 'Доставка негабаритного оборудования из Китая и нужно дописать на две строчки',
                    tag: 'Новости',
                    date: '02.06.2025'
                },
            ],
            gallery: ['assets/content/main-hero/2.jpg','assets/content/main-hero/2.jpg','assets/content/main-hero/2.jpg','assets/content/main-hero/2.jpg','assets/content/main-hero/2.jpg','assets/content/main-hero/2.jpg'],
            mediaTypes: ['Все','Новости','Блог']
        }, props || {})
    +section.slider.section__trigger(class=props.type)
        if props.type === 'clients' || props.type === 'media'
            h2.slider__title.section__subtitle= props.title
        .slider__body
            .slider__aside
                if props.type === 'clients'
                    .slider__text.animated-content= props.text
                else if props.type === 'media'
                    .slider__tab-list
                        each tab in props.mediaTypes
                            button.slider__tab-item= tab
                    +selector(props.mediaTypes)
                else if props.type === 'gallery'
                    h2.slider__title.section__subtitle= props.title
            .swiper
                .swiper-wrapper
                    if props.type === 'clients'
                        each item, index in props.clientsList
                            .swiper-slide
                                .slider__slide
                                    .slider__slide-number= `0${index + 1}`
                                    +img(item.icon).slider__slide-icon
                                    .slider__slide-name= item.name
                    else if props.type === 'media'
                        each item in props.mediaList
                            .swiper-slide
                                +card(item)
                    else if props.type === 'gallery'
                        each item, index in props.gallery
                            .swiper-slide
                                .slider__slide
                                    +img(require(item)).slider__slide-image
            .slider__nav
                button.slider__nav-prev
                .slider__pag
                button.slider__nav-next
